<a href="https://colab.research.google.com/github/Musalinux/Learning_Python/blob/main/Learning_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello World

In [2]:
print("Hello world")

x=10
y= 20

name = "Python AWS"

print(x, y, name)

Hello world
10 20 Python AWS

# Loops

In [3]:
fruits = ["Apple", "Mango", "Banana", ]
for fruit in fruits:
  print(fruit)

Apple
Mango
Banana

# Arithmetic Functions

In [4]:
def add(a, b):
  return a + b

def subtract(a, b):
  return a - b

def multiply(a, b):
  return a * b

def divide(a, b):
  return a / b

print(add(10, 20))
print(subtract(20,5))
print(multiply(2,5))
print(divide(10,2))

30
15
10
5.0

# Reading a File

In [ ]:
with open("sample.txt", "r") as file:
  content = file.read()
  print(content)

# String Concatenation

In [9]:
print("10 days are " + str(5) + " minutes" )  # This works up until v3.6
print(f"20 days are {10} minutes")  ## This works from python v3.6 and above.

10 days are 5 minutes
20 days are 10 minutes

In [11]:
x = 20*4*10

name_of_unit = "seconds"

print(f"20 days are {20 * x} {name_of_unit}")
print(f"30 days are {30 * x} {name_of_unit}")
print(f"40 days are {40 * x} {name_of_unit}")

20 days are 16000 seconds
30 days are 24000 seconds
40 days are 32000 seconds

In [18]:
x = 20*4*10

name_of_unit = "seconds"

def days_to_units(num_of_days, custom_message):
  print(f"{num_of_days} days are {num_of_days * x} {name_of_unit}")
  print(custom_message)

days_to_units(10, "Awesome")
days_to_units(20, "LGTM")
days_to_units(30, "yay")
days_to_units(40, "lets go")

10 days are 8000 seconds
Awesome
20 days are 16000 seconds
LGTM
30 days are 24000 seconds
yay
40 days are 32000 seconds
lets go

# Input function

In [23]:
x = 24*60

name_of_unit = "seconds"

def days_to_units(num_of_days, custom_message):
  print(f"{num_of_days} days are {num_of_days * x} {name_of_unit}")
  print(custom_message)


my_var = days_to_units(20, "Awesome")

Enter number of days and I wil convert to hours
10
10

# Input Function.

In [8]:
calculation_to_units = 24
name_of_unit = "hours"

def days_to_units(num_of_days):
  return f"{num_of_days} days are {num_of_days * calculation_to_units} {name_of_unit}"


user_input = input("Enter the number of days:\n")
user_entered_input = int(user_input)
calculated_value = days_to_units(user_entered_input)
print(calculated_value)

Enter the number of days:
10
10 days are 240 hours

In [17]:
time_to_hours = 60
unit_name = "minutes"

def days_to_minutes(number_of_days):
  return f"{number_of_days} hour is {time_to_hours * number_of_days} {unit_name}"

user_input = input ("Enter number of days:\n")
modified_user_input = int(user_input)
final_calculation = days_to_minutes(modified_user_input)
print(final_calculation)

Enter number of days:
1
1 hour is 60 minutes

# My First program I fully wrote!

In [101]:
time_in_days = 24
new_name = "hours"

def hours_in_days(number_of_days):
  # conditional_check = number_of_days > 0
  # type (conditional_check)
  # print(type(conditional_check))
      return f"{number_of_days} is {number_of_days * time_in_days} {new_name}"

def validate_and_execute():
    try:
        casting_input = int(number_of_days_element)
        if casting_input > 0:
            calculated_in_hours = hours_in_days(int(casting_input))
            print(calculated_in_hours)
        elif casting_input == 0:
            print("you entered 0, please provide a positive value.")
        else:
            print (f"The number you entered {number_of_days_element} is a negative number, please provide a positive value.")
    except:
        print("This is not a valid number, dont mess up my code")

user_input = ""
while user_input != "exit":
    user_input = input("Enter the number of days, I will convert it to hours!\n")
    for number_of_days_element in user_input.split(","):
        validate_and_execute()

Enter the number of days, I will convert it to hours!
10, 0, -10, musa
10 is 240 hours
you entered 0, please provide a positive value.
The number you entered  -10 is a negative number, please provide a positive value.
This is not a valid number, dont mess up my code
Enter the number of days, I will convert it to hours!
exit
This is not a valid number, dont mess up my code

# List Function and its operations.

In [102]:
my_list = ["January", "February", "March"]
print(my_list[1])

February

# Add to list

In [108]:
my_list = ["January", "February", "March"]
print(my_list)

my_list.append("April")
print(my_list)


## Add to specific index

my_list.insert(2, 'Mango')
print(my_list)

fruits = ["Apple", "banana", "cherry"]

my_list.extend(fruits)
print(my_list)

['January', 'February', 'March']
['January', 'February', 'March', 'April']
['January', 'February', 'Mango', 'March', 'April']
['January', 'February', 'Mango', 'March', 'April', 'Apple', 'banana', 'cherry']

# Change Item

In [109]:
fruits = ["Apple", "banana", "cherry"]
print(fruits)

fruits[1] = 'Watermelon'
fruits[2] = 'pineapple'

print(fruits)

['Apple', 'banana', 'cherry']
['Apple', 'Watermelon', 'pineapple']

# Remove Item

In [117]:
new_fruits = ["Apple", "banana", "cherry", "Kiwi", "grapes"]
print(new_fruits)

new_fruits.remove("banana")
print(new_fruits)

# Remove more than one item

market = ["Apple", "banana", "cherry", "Kiwi", "grapes", "corn", "peas"]
print('Market List:', market)


del market [0]
print(market)

del market [1:3]
print(market)

print('Length of this new market list is:', len(market))

['Apple', 'banana', 'cherry', 'Kiwi', 'grapes']
['Apple', 'cherry', 'Kiwi', 'grapes']
Market List: ['Apple', 'banana', 'cherry', 'Kiwi', 'grapes', 'corn', 'peas']
['banana', 'cherry', 'Kiwi', 'grapes', 'corn', 'peas']
['banana', 'grapes', 'corn', 'peas']
Length of this new market list is: 4

# Sets

In [6]:
time_in_days = 24
new_name = "hours"

def hours_in_days(number_of_days):
  # conditional_check = number_of_days > 0
  # type (conditional_check)
  # print(type(conditional_check))
      return f"{number_of_days} is {number_of_days * time_in_days} {new_name}"

def validate_and_execute():
    try:
        casting_input = int(number_of_days_element)
        if casting_input > 0:
            calculated_in_hours = hours_in_days(int(casting_input))
            print(calculated_in_hours)
        elif casting_input == 0:
            print("you entered 0, please provide a positive value.")
        else:
            print (f"The number you entered {number_of_days_element} is a negative number, please provide a positive value.")
    except:
        print("This is not a valid number, dont mess up my code")

user_input = ""
while user_input != "exit":
    user_input = input("Enter the number of days, I will convert it to hours!\n")
    list_of_days = user_input.split(",")
    print(list_of_days)
    print(set(list_of_days))
    for number_of_days_element in set(list_of_days):  # Set function used. No duplicate outputs.
        validate_and_execute()

Enter the number of days, I will convert it to hours!
10,20,30,musa,-10, 0
['10', '20', '30', 'musa', '-10', ' 0']
{' 0', '30', '-10', 'musa', '20', '10'}
you entered 0, please provide a positive value.
30 is 720 hours
The number you entered -10 is a negative number, please provide a positive value.
This is not a valid number, dont mess up my code
20 is 480 hours
10 is 240 hours
Enter the number of days, I will convert it to hours!
exit
['exit']
{'exit'}
This is not a valid number, dont mess up my code

In [122]:
my_set = {"January", "February", "March"}
print(my_set)

my_set.add("April")
print(my_set)

my_set.remove("January")
print(my_set)

{'February', 'March', 'January'}
{'February', 'March', 'April', 'January'}
{'February', 'March', 'April'}

# Dictionary!

In [12]:
def days_to_unit(number_of_days, conversion_unit):
      if conversion_unit == "hours":
        return f"{number_of_days} is {number_of_days * 24} hours"
      elif conversion_unit == "minutes":
        return f"{number_of_days} is {number_of_days * 24 * 60} minutes"
      else:
        return "unit not supported"


def validate_and_execute():
    try:
        casting_input = int(dictionary_of_day_units["days"])
        if casting_input > 0:
            calculated_in_hours = days_to_unit(casting_input, dictionary_of_day_units["unit"])
            print(calculated_in_hours)
        elif casting_input == 0:
            print("you entered 0, please provide a positive value.")
        else:
            print (f"The number you entered {dictionary_of_day_units} is a negative number, please provide a positive value.")
    except:
        print("This is not a valid number, dont mess up my code")

user_input = ""
while user_input != "exit:stop":
    user_input = input("Enter the number of days, and the conversion unit.\n")
    days_and_unit = user_input.split(":")
    print(days_and_unit)
    dictionary_of_day_units = {"days": days_and_unit[0], "unit": days_and_unit[1]}
    print(dictionary_of_day_units)
    conversion_unit = dictionary_of_day_units["unit"]
    validate_and_execute()

    # {"days": 20, "unit": "hours"}
    # 20:hours
    # 40:minutes
    # List day_and_unit - ["20", "hours"]

Enter the number of days, and the conversion unit.
10:hours
['10', 'hours']
{'days': '10', 'unit': 'hours'}
10 is 240 hours
Enter the number of days, and the conversion unit.
20:minutes
['20', 'minutes']
{'days': '20', 'unit': 'minutes'}
20 is 28800 minutes
Enter the number of days, and the conversion unit.
exit:stop
['exit', 'stop']
{'days': 'exit', 'unit': 'stop'}
This is not a valid number, dont mess up my code